# ---------------------------------------------------------
# Variables de Entorno - SIKALMA Backend
# Requerido por la regla de activacion de modulos del laboratorio DevOps
# ---------------------------------------------------------
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sikalma_db
DB_USER=sikalma_user
DB_PASSWORD=secret_password_example
