# =========================================================
# Variables Globales del Entorno - Centro Psicologico Sikalma
# =========================================================
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sikalma_db
DB_USER=sikalma_user
DB_PASSWORD=secret_password_example
