# =========================================================
# Variables de Entorno - Frontend React (SIKALMA)
# Requerido por el Framework DevOps (Rango 4200-4299)
# =========================================================
PORT=4200
VITE_API_URL=http://localhost:3000
